.obsidian/
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/plugins/hotkeysplus-obsidian/main.js
.obsidian/plugins/hotkeysplus-obsidian/manifest.json
.obsidian/plugins/nldates-obsidian/main.js
.obsidian/plugins/nldates-obsidian/manifest.json
.obsidian/plugins/obsidian-day-planner/styles.css
.obsidian/plugins/obsidian-excalidraw-plugin/main.js
.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
.obsidian/plugins/obsidian-excalidraw-plugin/styles.css
.obsidian/plugins/obsidian-outliner/main.js
.obsidian/plugins/obsidian-outliner/manifest.json
.obsidian/plugins/obsidian-outliner/styles.css
.obsidian/plugins/obsidian-tabs/styles.css
.obsidian/plugins/table-editor-obsidian/main.js
.obsidian/plugins/table-editor-obsidian/manifest.json
.obsidian/plugins/url-into-selection/main.js
.obsidian/plugins/url-into-selection/manifest.json
.obsidian/workspace